html,
body {
	height: 100%;
	color:red;
}
/* nepouzivame * {
	border: 1px solid red !important; */
}
body {
	background-color: rgb(153, 204, 255);
}

div {
	border: 1px solid navy;
}

span {
	border: 1px solid blue;
}

.list {
	border: 1px solid black;
	background-color: pink;
}

.list-specialny {
background-color: aquamarine;
}

.list-specialny li {
	display: inline-block;
}

p {
	font-size: 30px;
}

.bold {
	font-weight: bold;
}

p.orange {
	color: orange;
}

.orange {
	color: black /* nikdy nepouzivat */ !important;
}
 

p.jancibacinastajlujmito {
	background-color: lightgrey;
}

#intro {
	color: red;
}

a[title]:focus {
	color: darkgreen;
	font-size: 50px
}
div > strong {
	border: 1px solid red;
}

p:hover {
	font-weight: bold;
	font-family: cursive;
	text-decoration: underline;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
